click==8.1.2
requests==2.27.1
mypy==0.942
semver==2.13.0
packaging==21.3
wheel==0.37.1
PyYAML==6.0
Flask==2.1.1
tornado==6.1
Flask-Cors==3.0.10
python-dateutil==2.8.2
Flask-BasicAuth==0.2.0
orjson==3.6.8
Flask-Compress==1.11
Flask-AutoIndex==0.6.6