click==8.0.4
requests==2.27.1
mypy==0.931
semver==2.13.0
packaging==21.3
wheel==0.37.1
pyyaml==6.0
flask==2.0.3
tornado==6.1
flask-cors==3.0.10
python-dateutil==2.8.2
Flask-BasicAuth==0.2.0
orjson==3.6.7
flask-compress==1.11